.vit-header{
  display: flex;
  box-shadow: 0 2px 3px hsla(0,0%,7%,.1), 0 0 0 1px hsla(0,0%,7%,.1);
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  &-logo{
    min-width: 120px;
  }
  &-nav{
    flex-grow: 1;
    border: none;
  }
  &-user{
    min-width: 200px;
  }
}
